@font-face {
      /* other formats include: 'woff2', 'truetype, 'opentype',
      'embedded-opentype', and 'svg' */
    font-family: 'Alegreya';
    src: local('Alegreya'), url(../fonts/alegreya/Alegreya-Italic[wght].ttf) format('truetype');
    
    font-family: 'Bobagum';
    src: local('Bobagum'), url(../fonts/bobagum/bobagum.otf) format('opentype');

  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
  }

  body {
    background-color: black;
  }

  h1 {
    font-family: "Bobagum", Verdana, sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .icon {
    color: black;
    font-size: 35px;
  }
  
  .icon.stop:before {
    content: '\25A0'; /* Square icon */
  }
  
  .icon.play:before {
    content: '\25B6'; /* Triangle play icon */
  }
  
  .text-input {
    width: 60%;
    height: 500px;
    margin: 20px;
  }

  .select-input,
  .range-input {
    margin-left: 40px;
    width: 100%;
    margin-bottom: 8px;
  }
  
  .label {
    width: 60%;
    display: flex;
    align-items: center;
  }
  
  